*{
    padding: 0%;
    margin: 0%;
    color: black;
}
.navbar{
    display: flex;
    background-color: #a3b18a;
    height: 90px;
    width: 100;
    flex-direction: row;
    align-items: center;
    justify-content: end;
    gap: 25px;
}
a{
    font-size: 20px;
    text-decoration: none;
}
a:hover{
    transition: 0.3s ease-in-out;
    transform: scale(1.15);
    color: rgb(248, 4, 24);
}
.logo{
    position: absolute;
    font-size: large;
    font-weight: bold;
    left: 20px;
    font-size: 30px;
}
body{
    background-color: hsla(0, 60%, 93%, 0.865);
    
}
/* ---------------- BANNER ------------------ */
.banner img{
    width: 80%;
    display: block;
    border-radius: 18px;
    margin-left: 125px;
    margin-top: 30px;
}
/* ---------------- SECTION ------------------ */
.section{
    padding: 20px 80px;
}

/* ---------------- TEAM TABLE --------------- */
/* OUR TEAM SECTION */
.our-team{
    width: 90%;
    text-align: center;
}

 h2{
    color: #2f6b3c;
    margin-bottom: 20px;
    font-size: 35px;
}

/* Team grid */
.team-container{
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

/* Each member */
.team-member{
    width: 18%;
    
}

/* Image container */
.team-member img{
    width: 100%;
    height: 220px;               /* FIXED HEIGHT */
    object-fit: cover;   
    margin-left: 30%;       /* IMPORTANT */
    
}

.team-member img{
    object-fit: cover;          /* IMPORTANT */
    border-radius: 45%;

}

/* Name */
.team-member p{
    margin-top: 10px;
    font-weight: bold;
    color: #2f6b3c;
    margin-left: 150px;
}

/* ------------------- TWO COLUMN ---------------- */
.two-column{
    display: block;
    justify-content: space-between;
    padding: 20px 80px;
}



.right{
    width: 45%;
    margin-left: 25%;
}

/* ------------------- FORM ------------------ */
.contact-form input,
.contact-form textarea{
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid black;
}

.contact-form button{
    background-color: #8fae8a;
    color: white;
    padding: 10px;
    border: none;

}

/*-------------Footer---------------*/
footer {
    background-color: #2e4d2e;
    height: 250px;
    margin-top: 20px;

}
.footer-container{
    display: flex;
    justify-content: space-evenly;
    
}
footer a,h4,p,li,ul{
    color: white;
    list-style-type: none;
}
footer p{
    font-size: 20px;
}
.footer-links h4{
    margin-top: 15px;
}
.footer-links li{
    margin-top: 7px;
}
.footer-contact  h4{
    margin-top: 20px;

}
.footer-contact p{
    margin-top: 20px;
}
.footer-end {
    display: flex;
    justify-content: end;
    margin-right:20%;
    padding-top: 35px;
}
.footer-media{
    margin-top: 50px;
    font-size: 20px;
}
.footer-media i{
    margin-top:10px;
    
}
i:hover::before{
   transition: 0.4s ease;
    color:  rgb(248, 4, 24);
}
.nav-links{
    margin-right: 180px;
    display: flex;
    gap: 25px;
}
#search-box{
        width: 250px;
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 25px;
        outline: none;
        font-size: 16px;
    }  
    #search-box:focus{
        border-color: #031803;
        box-shadow: 0 0 7px rgba(76, 175, 80, 0.5);
        
    }
     button{
        margin-left: 75%;
        
     }
   .btn{
        display: inline-block;
        background: #4caf50;
        color: white;
        text-decoration: none;
        font-size: 14px;
        border: none;
        padding: 5px;
        border-radius: 4px;
        cursor: pointer;
    
        
    }