body{
    font-family:Arial, sans-serif;
    background:#f4f9f4;
    margin:0;
}
.blog-title{
    text-align:center;
    color:#2ecc71;
}
.intro{
    display:flex;
    gap:15px;
    margin:20px auto;
   max-width:1600px;
}
 .intro-image img{
    width:500px;
    height: 550px;
    border-radius:8px;
    
 }
 .intro-text p{
    margin-right: 20px;
 }

 .choose-us{
    text-align:center;
    margin-top:50px;
 }
 .features{
    display:flex;
    justify-content:center;
    gap:30px;
    flex-wrap: wrap;
    
 }
 .feature{
    background:#eafaf1;
    border:2px solid#2ecc71;
    border-radius:8px;
    padding:20px;
    width:220px;
    height: 200px;
    text-align:center;
 }
 .feature img{
    width:100% ;
    border-radius:6px;
    object-fit: cover;
 }
 .read-more{
    display:inline-block;
    margin-top:10px;
    padding:8px 12px;
    background:#2ecc71;
    color:white;
    text-decoration:none;
    border-radius:4px;
 }
 .read-more:hover{
    background:#27ae60;
 }
 .content-box{
    max-width:800px;
    margin:60px auto;
    background:#eafaf1;
    border:2px solid#2ecc71;
    border-radius:8px;
    padding:20px;
    text-align:center;
 }
 .content-box img{
    width:100%;
    max-height:400px;
    object-fit:cover;
    border-radius:6px;
 }
 .content-box p {
    font-size:20px;
    color:#2ecc71;
    font-weight:bold;
    margin-top:20px;
 }
 .back-link{
    display:inline-block;
    margin-top: 20px;
    padding: 10px 16px;
    background: #2ecc71;
    color: white;
    text-decoration: none;
    border-radius: 4px;
 }
 .back-link:hover{
    background: #27ae60;
 }

  *{
    padding:0;
    margin:0;
    color: black;

 }
  

 /*footer*/
footer {
    background-color: #2e4d2e;
    height: 250px;
    margin-top: 20px;
}
.footer-container{
    display: flex;
    justify-content: space-evenly;
}
footer a,h4,p,li,ul{
    color: white;
    list-style-type:none;
    text-decoration: none;
}
footer p{
    font-size: 20px;
}
.footer-links h4{
    margin-top: 20px;
}
.footer-links li{
    margin-top: 5px;
}
.footer-contact  h4{
    margin-top: 15px;

}
.footer-contact p{
    margin-top: 10px;
}
.footer-end {
    display: flex;
    justify-content: end;
    margin-right:20%;
    padding-top: 50px;
}
.footer-media{
    margin-top: 50px;
    font-size: 20px;
}
.footer-media i{
    margin-top:10px;
    font-size: 30px;
    color: aliceblue;
    
}
i:hover::before{
   transition: 0.4s ease;
    color:  rgb(248, 4, 24);
  }
  
  #search-box{
   width: 250px;
   padding: 10px;
   border: 1px solid white;
   border-radius: 25px;
   outline:none;
   font-size: 16px;
  }
  #search-box:focus{
   border-color: black;
   box-shadow: 0 0 7px rgba(76,175,80,0.s);
  }
  .read-more-box{
    font-family: Arial, sans-serif;
  }
  #read-more-toggle{
    display:none;
  }
  .more-text{
    color: black;
    max-height: 0;
    overflow: hidden;
    text-align: justify;
    transition: max-height 0.5s ease;
  }
  #read-more-toggle:checked~.more-text{
    max-height: 1000px;
  }
  #read-more-toggle:checked~.short-text.dots{
    display: none;
  }
  .read-more-btn{
    color: #2e8b57;
    cursor: pointer;
    font-weight: bold;
    display: inline-block;
    margin-top: 5px;
  }
  /*header*/
.navbar{
    display: flex;
    background-color: #a3b18a;
    height: 90px;
    width: 100%;
    align-items: center;
    justify-content:flex-end;
    gap: 15px;
   
   
}
.navbar a{
  color: black;
  text-decoration: none;
  font-weight: bold;
}
.navbar i{
  font-size:20px;
  margin-left:10px ;
  color: black;
}
.navbar a:hover{
    transition: 0.3s ease-in-out;
    transform:scale(1.15);
    color: rgb(248, 4, 24);
}
.nav-links{
  display: flex;
  gap: 25px;
  margin-right:180px ;
}
.logo{
    position: absolute;
    font-weight: bold;
    left: 20px;
    font-size: 30px;
}
.list{
 font-size:20px;
    color:#2ecc71;
    font-weight:bold;
}
.interview-section{
    margin-top: 1rem;
    padding-left: 1rem;
    border-left: 3px soolid #0288d1;
}
.interview-section h3{
    color: #44b43a;
    margin-bottom: 0.5rem;
}
.interview{
    background-color: #d5e8f9;
    height: 80px;
    padding: 1rem;
    margin-bottom: 1rem;
    border-radius: 5px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.1);
}
.interview h4{
    margin-bottom: 0.3rem;
    color: #2e7d32;
}
.interview p{
    color: black;
}

