*{
    padding: 0;
    margin: 0;
    color:black;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}
/* CSS for navbar  */
.navbar{
    display: flex;
    background-color: #a3b18a;
    height: 90px;
    width: 100%;
    flex-direction: row;
    align-items: center;
    justify-content: end;
    gap: 25px;
    
}
.nav-links{
    margin-right: 180px;
    display: flex;
    gap: 25px;
}
a{
    font-size: 20px;
    text-decoration: none;
}
a:hover{
    transition: 0.3s ease-in-out;
    transform:scale(1.15);
    color: rgb(248, 4, 24);
}

.logo{
    position: absolute;
    font-size: large;
    font-weight: bold;
    left: 20px;
    font-size: 30px;
}
body{
    background-color: hsla(0, 60%, 93%, 0.865);
    
}
/* hero part */
.hero{
    height: 500px;
    background: url("/photos/home photos/nepali\ marr.png")center/cover no-repeat;
    display: flex;
    align-items: center;
    padding-left: 60px;
}
.hero-content{
    background: rgba(0,0,0,0.45);
    padding: 30px;
    border-radius: 10px;
    color: #f5f5f5;
    height: 200px;
}
.hero button{
    margin-top: 15px;
    padding: 10px 20px;
    border: none;
    background: #6b8e23;
    color: white;
    cursor: pointer;
    border-radius: 5px;
}
.hero button:hover{
    transform: scale(1.1);
    transition: 0.3s ease-in;
}
/* why part */
.why{
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 50px;
    text-align: center;
}
.why p{
    color: black;
    margin: 5px;
    padding-top: 5px;
}
.why h2{
    padding: 20px;
}

.cards{
    display: flex;
    gap: 20px;
    margin-top: 30px;
}
.card:hover{
    transform: scale(0.9);
    transition:0.3s ease-out;

}
.card{
    background: url("/photos/home photos/realistic-water-drop-with-ecosystem.jpg");
    background-size: cover;
    opacity: 0.8;
    padding: 50px;
    border-radius: 10px;
    flex: 1;
    height: 200px;
}
.card p,h3{
    color: white;
}
/* products part main part */

.products h2{
    padding: 10px;
}
.product-grid{
    display: grid;
   grid-template-columns: repeat(4,1fr);
    gap: 30px;
    margin: 40px 0;
    
}
.product{
    background: white;
    padding: 15px;
    border-radius: 10px;
}
.product h4,p{
    color: black;
}
.product img{
    width: 100%;
    border-radius: 10px;

}
.product:hover{
    transform: scale(1.1);
    transition: 0.8s ease-in-out;
}
.center-btn{
    padding: 10px 25px;
    background: #6b8e23 ;
    border: none;
    color: white;
    border-radius: 5px;
    
}
.center-btn:hover{
    color:black;
    cursor: pointer;
}
/* living tips */
.living-tips{
    display: flex;
    padding: 60px;
    gap: 30px;
    height: 300px;
}
.living-tips p{
    color: black;
}
.tips{
    background: #f7f9f6;
    padding: 20px;
    border-radius: 10px;
    flex: 1;
}
.tips ul{
    margin-top: 10px;
    padding-left: 20px;
    
}
.tips li{
    color: black;
    list-style-type: circle;

}
.tips h3{
    color: black;

}
.tips p{
    margin-top: 10px;
}
.eco-text{
    color: black;
margin-left: 50px;
}
.price{
    font-weight: bold;
    color: #6b8e23;
    margin-top: 10px;
    font-size: 16px;
}
/* CSS for footer part  */
footer {
    background-color: #2e4d2e;
    height: 250px;
    margin-top: 20px;
}
.footer-container{
    display: flex;
    justify-content: space-evenly;
}
footer a,h4,p,li,ul{
    color: white;
    list-style-type: none;
}
footer p{
    font-size: 15px;
}
.footer-links h4{
    margin-top: 15px;
}
.footer-links li{
    margin-top: 7px;
    
}
li a{
    font-size: 15px;
}
.footer-contact  h4{
    margin-top: 20px;

}
.footer-contact p{
    margin-top: 20px;
}

