body{
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  display: flex;
  height: 100vh;
}
.container{
  display: flex;
  width: 100%;
}
.left{
  flex:1;
  position: relative;
}
.bg-video{
  position: fix;
  top:0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}
.caption{
  position: absolute;
  bottom: 40px;
  left: 100px;
  color: #fff;
}
.right{
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #f9f9f9;
}
.login-box{
  width: 350px;
  padding: 30px;
  background: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
  text-align: center;
}
.brand-name{
  color:#2e7d32;
  margin-bottom:1opx;
}
.form-title{
  margin-bottom: 20px;
  color: #333;
}
.input-group{
  text-align: left;
  margin-bottom: 15px;
}
.input-group label{
  display: block;
  margin-bottom: 5px;
  font-size: 14px;
  color: #555;
}
.input-group input{
width: 100%;
padding: 10px;
border: 1px solid #ccc;
border-radius: 5px;
}
.options{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}
.forget-link{
  font-size: 13px;
  color: #2e7d32;
  text-decoration: none;
}
.login-btn{
  width: 100%;
  padding: 12px;
  background: #2e7d32;
  color: #fff;
  border: none;
  border-radius: 5px;
  font-weight: bold;
  cursor: pointer;
}
.login-btn:hover{
  margin-top: 20px;
  font-size: 14px;
}
.register-text {
  margin-top: 20px;
  font-size: 14px;
}
.register-link{
  color: #2e7d32;
  text-decoration: none;
  font-weight: bold;
}
